html {
  font-size: 16px;
  font-family: "Verdana", "Geneva", "DejaVu Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  color: #181d42;
  background: #f2f2f2;
}

a,
button,
input,
textarea {
  font-family: "Verdana", "Geneva", "DejaVu Sans", sans-serif;
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1568px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  padding: 16px 0;
  background-color: #f7f7f7;
}
@media (max-width: 992px) {
  .header {
    padding: 12px 0 16px;
  }
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.header__logo-link-image {
  display: block;
  max-width: 100%;
  width: 80px;
  height: auto;
}
@media (max-width: 576px) {
  .header__logo-link-image {
    width: 70px;
  }
}
.header__menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 618px;
          flex: 0 1 618px;
}
@media (max-width: 992px) {
  .header__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    overflow: hidden;
    background-color: rgba(16, 27, 52, 0);
    pointer-events: none;
    -webkit-transition: background-color ease-in-out 0.4s;
    transition: background-color ease-in-out 0.4s;
  }
}
@media (max-width: 992px) {
  .header__menu.active {
    background-color: rgba(16, 27, 52, 0.6);
    pointer-events: all;
  }
}
.header__menu-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 992px) {
  .header__menu-content {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 290px;
    padding: 50px 24px;
    background-color: #101b34;
    -webkit-transition: -webkit-transform ease-in-out 0.4s;
    transition: -webkit-transform ease-in-out 0.4s;
    transition: transform ease-in-out 0.4s;
    transition: transform ease-in-out 0.4s, -webkit-transform ease-in-out 0.4s;
    -webkit-transform: translate3d(-120vw, 0, 0);
            transform: translate3d(-120vw, 0, 0);
  }
}
@media (max-width: 992px) {
  .header__menu.active .header__menu-content {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
.header__menu-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.header__menu-social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #ffffff;
  -webkit-transition: background-color ease-in-out 0.2s;
  transition: background-color ease-in-out 0.2s;
}
@media (max-width: 992px) {
  .header__menu-social-link {
    background-color: rgba(255, 255, 255, 0.1);
  }
}
@media (max-width: 992px) {
  .header__menu-social-link:hover {
    background-color: #3757a1;
  }
}
.header__menu-social-link-image {
  display: block;
  width: 24px;
  height: 24px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-filter ease-in-out 0.2s;
  transition: -webkit-filter ease-in-out 0.2s;
  transition: filter ease-in-out 0.2s;
  transition: filter ease-in-out 0.2s, -webkit-filter ease-in-out 0.2s;
  pointer-events: none;
}
@media (max-width: 992px) {
  .header__menu-social-link-image {
    -webkit-filter: brightness(1000%);
            filter: brightness(1000%);
  }
}
.header__menu-social-link:hover .header__menu-social-link-image {
  -webkit-filter: brightness(20%);
          filter: brightness(20%);
}
@media (max-width: 992px) {
  .header__menu-social-link:hover .header__menu-social-link-image {
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
  }
}
.header__menu-phone {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
@media (max-width: 992px) {
  .header__menu-phone {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
}
.header__menu-phone-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.05em;
  color: #444444;
  -webkit-transition: color ease-in-out 0.2s;
  transition: color ease-in-out 0.2s;
}
@media (max-width: 992px) {
  .header__menu-phone-link {
    color: #ffffff;
  }
}
.header__menu-phone-link:hover {
  color: #101b34;
}
.header__menu-callback {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.header__menu-callback-button {
  display: inline-block;
  padding: 18px 20px;
  font-weight: 700;
  font-size: 13px;
  line-height: 108%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #fff;
  border: none;
  background-color: #3757a1;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}
.header__menu-callback-button:hover {
  background-color: #101b34;
}
@media (max-width: 992px) {
  .header__menu-callback-button:hover {
    color: #3757a1;
    background-color: #ffffff;
  }
}
.header__menu-close {
  display: none;
}
@media (max-width: 992px) {
  .header__menu-close {
    display: block;
  }
}
.header__menu-close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  display: block;
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  background: url(../assets/icons/ic_round-close.svg) center/cover no-repeat;
  cursor: pointer;
}
.header__burger {
  display: none;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
@media (max-width: 992px) {
  .header__burger {
    display: block;
  }
}
.header__burger-button {
  display: block;
  width: 38px;
  height: 38px;
  border: none;
  background: url(../assets/icons/ic_sharp-menu.svg) center/cover no-repeat;
  cursor: pointer;
}

.first-screen {
  position: relative;
  padding: 112px 0 106px;
  overflow: hidden;
}
@media (max-width: 992px) {
  .first-screen {
    padding: 80px 0;
  }
}
@media (max-width: 576px) {
  .first-screen {
    padding: 30px 0 50px;
  }
}
.first-screen::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  display: block;
  height: 465px;
  aspect-ratio: 380/576;
  background: url(../assets/equipment-bg.png) top right/cover no-repeat;
}
@media (max-width: 992px) {
  .first-screen::before {
    display: none;
  }
}
@media (max-width: 576px) {
  .first-screen::before {
    height: 326px;
  }
}
.first-screen .container {
  position: relative;
  z-index: 1;
}
.first-screen__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 48px;
  margin: 0 0 50px;
}
@media (max-width: 992px) {
  .first-screen__info {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 24px;
    margin: 0 0 32px;
  }
}
@media (max-width: 576px) {
  .first-screen__info {
    gap: 6px;
  }
}
.first-screen__info-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 768px;
          flex: 0 1 768px;
  margin: 0;
  font-family: "Gilroy", sans-serif;
  font-size: 80px;
  line-height: 100%;
  text-transform: uppercase;
  color: #101b34;
}
@media (max-width: 1400px) {
  .first-screen__info-title {
    font-size: 72px;
  }
}
@media (max-width: 992px) {
  .first-screen__info-title {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    font-size: 60px;
  }
}
@media (max-width: 576px) {
  .first-screen__info-title {
    font-size: 36px;
    line-height: 120%;
  }
}
.first-screen__info-title-light {
  text-align: left;
  font-weight: 300;
}
.first-screen__info-title-bold {
  text-align: right;
  font-weight: 700;
}
@media (max-width: 992px) {
  .first-screen__info-title-bold {
    text-align: left;
  }
}
.first-screen__info-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 616px;
          flex: 0 1 616px;
  gap: 20px;
}
@media (max-width: 992px) {
  .first-screen__info-description {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
}
@media (max-width: 576px) {
  .first-screen__info-description {
    gap: 16px;
  }
}
.first-screen__info-description-item {
  margin: 0;
  font-weight: 400;
  font-size: 17px;
  line-height: 165%;
  letter-spacing: -0.02em;
  color: #383b44;
}
@media (max-width: 576px) {
  .first-screen__info-description-item {
    font-size: 15px;
  }
}
.first-screen__slider {
  margin: 0 0 34px;
}
@media (max-width: 992px) {
  .first-screen__slider {
    margin: 0 0 30px;
  }
}
.first-screen__slider-image {
  display: block;
  width: 100%;
  aspect-ratio: 755/450;
  border-radius: 4px;
}
.first-screen__slider .swiper {
  overflow: visible;
}
.first-screen__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 52px;
}
@media (max-width: 992px) {
  .first-screen__controls {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.first-screen__controls-prev, .first-screen__controls-next {
  display: block;
  width: 24px;
  height: 24px;
  background: url(../assets/icons/arrow.svg) center/cover no-repeat;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
.first-screen__controls-next {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.why-we {
  padding: 130px 0 140px;
  border-top: 1px solid rgba(0, 0, 0, 0.06);
  background-color: #f9f9f9;
  overflow: hidden;
}
@media (max-width: 992px) {
  .why-we {
    padding: 80px 0;
  }
}
@media (max-width: 576px) {
  .why-we {
    padding: 50px 0;
  }
}
.why-we .container {
  position: relative;
}
.why-we .container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  width: 710px;
  aspect-ratio: 710/832;
  background: url(../assets/why-we-bg.png) center/cover no-repeat;
  -webkit-transform: rotate(45deg) translate3d(-20px, -300px, 0);
          transform: rotate(45deg) translate3d(-20px, -300px, 0);
}
@media (max-width: 992px) {
  .why-we .container::before {
    width: 480px;
    -webkit-transform: rotate(45deg) translate3d(20px, -230px, 0);
            transform: rotate(45deg) translate3d(20px, -230px, 0);
  }
}
@media (max-width: 576px) {
  .why-we .container::before {
    width: 560px;
    -webkit-transform: rotate(45deg) translate3d(170px, -50px, 0);
            transform: rotate(45deg) translate3d(170px, -50px, 0);
  }
}
.why-we__title {
  position: relative;
  z-index: 1;
  max-width: 972px;
  margin: 0 0 46px;
  font-family: "Gilroy", sans-serif;
  font-size: 60px;
  line-height: 117%;
  text-transform: uppercase;
  color: #101b34;
}
@media (max-width: 1400px) {
  .why-we__title {
    max-width: 800px;
    font-size: 48px;
  }
}
@media (max-width: 992px) {
  .why-we__title {
    max-width: 540px;
    margin: 0 0 32px;
    font-size: 32px;
  }
}
@media (max-width: 576px) {
  .why-we__title {
    margin: 0 0 23px;
    font-size: 24px;
    line-height: 142%;
  }
}
.why-we__title-light {
  font-weight: 300;
}
.why-we__title-bold {
  font-weight: 700;
}
.why-we__cards {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.why-we__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  gap: 30px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 15px);
          flex: 0 0 calc(50% - 15px);
  padding: 44px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.02);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.02);
}
@media (max-width: 1400px) {
  .why-we__card {
    padding: 24px;
  }
}
@media (max-width: 992px) {
  .why-we__card {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
@media (max-width: 576px) {
  .why-we__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
}
.why-we__card-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 120px;
  aspect-ratio: 1/1;
  border-radius: 120px;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.02);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.02);
  background: linear-gradient(145deg, #ad9a86 0%, #c1bab3 100%);
}
@media (max-width: 992px) {
  .why-we__card-icon {
    width: 100px;
  }
}
@media (max-width: 576px) {
  .why-we__card-icon {
    width: 60px;
  }
}
.why-we__card-icon-image {
  display: block;
  max-width: 40px;
  width: 40px;
  height: auto;
}
.why-we__card-info-title {
  margin: 0 0 10px;
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 138%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #101b34;
}
@media (max-width: 992px) {
  .why-we__card-info-title {
    font-size: 24px;
  }
}
@media (max-width: 576px) {
  .why-we__card-info-title {
    margin-bottom: 6px;
    font-size: 20px;
  }
}
.why-we__card-info-text {
  font-weight: 400;
  font-size: 17px;
  line-height: 165%;
  letter-spacing: -0.02em;
  color: #383b44;
}
@media (max-width: 576px) {
  .why-we__card-info-text {
    font-size: 16px;
  }
}

.advantages {
  padding: 102px 0 130px;
  background: url(../assets/advantages-bg.jpg) center/cover no-repeat;
}
@media (max-width: 992px) {
  .advantages {
    padding: 80px 0;
  }
}
@media (max-width: 576px) {
  .advantages {
    padding: 50px 0 54px;
  }
}
.advantages__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 40px;
  font-family: "Gilroy", sans-serif;
  font-size: 60px;
  line-height: 117%;
  text-transform: uppercase;
  color: #ffffff;
}
@media (max-width: 1400px) {
  .advantages__title {
    font-size: 48px;
  }
}
@media (max-width: 992px) {
  .advantages__title {
    margin: 0 0 32px;
    font-size: 32px;
  }
}
@media (max-width: 576px) {
  .advantages__title {
    margin: 0 0 24px;
    font-size: 24px;
    line-height: 142%;
    text-align: center;
  }
}
.advantages__title-light {
  font-weight: 300;
}
.advantages__title-bold {
  font-weight: 700;
}
.advantages__cards {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
@media (max-width: 1400px) {
  .advantages__cards {
    gap: 16px;
  }
}
@media (max-width: 576px) {
  .advantages__cards {
    gap: 6px;
  }
}
.advantages__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(25% - 22.5px);
          flex: 0 0 calc(25% - 22.5px);
  padding: 44px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  background-color: #101b34;
}
@media (max-width: 1400px) {
  .advantages__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(25% - 12px);
            flex: 0 0 calc(25% - 12px);
    padding: 40px 24px;
  }
}
@media (max-width: 992px) {
  .advantages__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 8px);
            flex: 0 0 calc(50% - 8px);
    gap: 30px;
    padding: 24px;
  }
}
@media (max-width: 576px) {
  .advantages__card {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.advantages__card-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.advantages__card-icon-image {
  display: block;
  max-width: 100%;
  width: 40px;
  height: auto;
}
@media (max-width: 576px) {
  .advantages__card-icon-image {
    width: 30px;
  }
}
.advantages__card-text {
  font-weight: 400;
  font-size: 17px;
  line-height: 165%;
  letter-spacing: -0.02em;
  color: #ffffff;
}
@media (max-width: 576px) {
  .advantages__card-text {
    font-size: 16px;
  }
}

.equipment {
  position: relative;
  z-index: 1;
  padding: 120px 0;
  background-color: #f9f9f9;
}
@media (max-width: 992px) {
  .equipment {
    padding: 80px 0;
  }
}
@media (max-width: 576px) {
  .equipment {
    padding: 57px 0;
  }
}
.equipment::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: -204px;
  z-index: 0;
  display: block;
  height: 576px;
  aspect-ratio: 380/576;
  background: url(../assets/equipment-bg.png) top left/cover no-repeat;
}
@media (max-width: 992px) {
  .equipment::before {
    height: 420px;
  }
}
@media (max-width: 576px) {
  .equipment::before {
    height: 326px;
  }
}
.equipment__content {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 260px;
}
@media (max-width: 1400px) {
  .equipment__content {
    gap: 100px;
  }
}
@media (max-width: 992px) {
  .equipment__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 30px;
  }
}
.equipment__download {
  position: relative;
}
@media (max-width: 992px) {
  .equipment__download {
    padding-right: 74px;
  }
}
.equipment__download-circle-image {
  display: block;
  max-width: 100%;
  width: 516px;
  border-radius: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}
.equipment__download-link {
  position: absolute;
  top: 80px;
  right: -124px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 14px;
  width: 222px;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  aspect-ratio: 1/1;
  border-radius: 200px;
  background-color: #3757a1;
}
@media (max-width: 1400px) {
  .equipment__download-link {
    top: 60px;
    right: -60px;
  }
}
@media (max-width: 992px) {
  .equipment__download-link {
    top: 0px;
    right: 0;
    width: 160px;
    padding: 10px 20px;
  }
}
.equipment__download-link-icon {
  display: block;
  max-width: 100%;
  width: 44px;
  height: auto;
}
@media (max-width: 992px) {
  .equipment__download-link-icon {
    width: 32px;
  }
}
.equipment__download-link-text {
  font-weight: 700;
  font-size: 13px;
  line-height: 154%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
@media (max-width: 992px) {
  .equipment__download-link-text {
    font-size: 10px;
  }
}
.equipment__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 488px;
          flex: 0 1 488px;
  max-width: 488px;
}
@media (max-width: 992px) {
  .equipment__info {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    max-width: 640px;
  }
}
.equipment__info-title {
  margin: 0 0 20px;
  font-family: "Gilroy", sans-serif;
  font-size: 60px;
  line-height: 117%;
  text-transform: uppercase;
  color: #101b34;
}
@media (max-width: 1400px) {
  .equipment__info-title {
    font-size: 48px;
  }
}
@media (max-width: 992px) {
  .equipment__info-title {
    margin: 0 0 10px;
    font-size: 32px;
  }
}
@media (max-width: 576px) {
  .equipment__info-title {
    margin: 0px;
    font-size: 24px;
    line-height: 142%;
  }
}
.equipment__info-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.equipment__info-list-item {
  padding: 18px 24px;
  font-weight: 500;
  font-size: 18px;
  line-height: 144%;
  color: #383b44;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}
@media (max-width: 992px) {
  .equipment__info-list-item {
    padding: 14px 0;
  }
}
@media (max-width: 576px) {
  .equipment__info-list-item {
    font-size: 16px;
  }
}

.gallery {
  position: relative;
  z-index: 2;
  padding: 130px 0 140px;
  overflow: hidden;
}
@media (max-width: 992px) {
  .gallery {
    padding: 80px 0;
  }
}
@media (max-width: 576px) {
  .gallery {
    padding: 50px 0 90px;
  }
}
.gallery__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 48px;
  margin: 0 0 40px;
}
@media (max-width: 576px) {
  .gallery__heading {
    margin-bottom: 20px;
  }
}
.gallery__title {
  position: relative;
  z-index: 1;
  margin: 0;
  font-family: "Gilroy", sans-serif;
  font-size: 60px;
  line-height: 117%;
  text-transform: uppercase;
  color: #101b34;
}
@media (max-width: 1400px) {
  .gallery__title {
    font-size: 48px;
  }
}
@media (max-width: 992px) {
  .gallery__title {
    font-size: 32px;
  }
}
@media (max-width: 576px) {
  .gallery__title {
    font-size: 24px;
    line-height: 142%;
  }
}
.gallery__title-light {
  font-weight: 300;
}
.gallery__title-bold {
  font-weight: 700;
}
.gallery__slider-image {
  display: block;
  width: 100%;
  aspect-ratio: 755/450;
  border-radius: 4px;
}
.gallery__slider .swiper {
  overflow: visible;
}
.gallery__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  gap: 52px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 576px) {
  .gallery__controls {
    position: absolute;
    left: 50%;
    bottom: 40px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
.gallery__controls-prev, .gallery__controls-next {
  display: block;
  width: 24px;
  height: 24px;
  background: url(../assets/icons/arrow.svg) center/cover no-repeat;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
.gallery__controls-next {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.footer {
  padding: 29px 0;
  background-color: #101b34;
}
@media (max-width: 992px) {
  .footer {
    padding: 35px 0;
  }
}
.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
@media (max-width: 768px) {
  .footer .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
.footer__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 768px) {
  .footer__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.footer__logo-link-image {
  display: block;
  max-width: 100%;
  width: 80px;
  height: auto;
}
@media (max-width: 576px) {
  .footer__logo-link-image {
    width: 70px;
  }
}
.footer__menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 618px;
          flex: 0 1 618px;
}
@media (max-width: 992px) {
  .footer__menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 540px;
            flex: 0 1 540px;
  }
}
@media (max-width: 768px) {
  .footer__menu {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.footer__menu-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 576px) {
  .footer__menu-content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
  }
}
.footer__menu-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
@media (max-width: 576px) {
  .footer__menu-social {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
  }
}
.footer__menu-social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color ease-in-out 0.2s;
  transition: background-color ease-in-out 0.2s;
}
@media (max-width: 992px) {
  .footer__menu-social-link {
    width: 40px;
    height: 40px;
  }
}
.footer__menu-social-link:hover {
  background-color: #3757a1;
}
.footer__menu-social-link-image {
  display: block;
  width: 24px;
  height: 24px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-filter ease-in-out 0.2s;
  transition: -webkit-filter ease-in-out 0.2s;
  transition: filter ease-in-out 0.2s;
  transition: filter ease-in-out 0.2s, -webkit-filter ease-in-out 0.2s;
  pointer-events: none;
  -webkit-filter: brightness(1000%);
          filter: brightness(1000%);
}
.footer__menu-phone {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
@media (max-width: 576px) {
  .footer__menu-phone {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
  }
}
.footer__menu-phone-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.05em;
  color: #ffffff;
  -webkit-transition: color ease-in-out 0.2s;
  transition: color ease-in-out 0.2s;
}
.footer__menu-phone-link:hover {
  color: #3757a1;
}
.footer__menu-callback {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
@media (max-width: 768px) {
  .footer__menu-callback {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}
@media (max-width: 576px) {
  .footer__menu-callback {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.footer__menu-callback-button {
  display: inline-block;
  padding: 18px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 700;
  font-size: 13px;
  line-height: 108%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #fff;
  border: none;
  background-color: #3757a1;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}
@media (max-width: 768px) {
  .footer__menu-callback-button {
    width: 100%;
  }
}
.footer__menu-callback-button:hover {
  color: #3757a1;
  background-color: #ffffff;
}